image: node:15  # Puedes ajustar la versión de Node según tus necesidades

stages:
  - build
  - test
  - deploy

build-min-code:
  stage: build
  script:
    - echo "Compiling the code..."
    - echo "Compile complete."
  
run-unit-test:
  stage: test
  script:
    -npm run test

pages:
  stage: deploy
  script:
    - npm install
    - npm run build
    - mv dist public  # Ajusta "build" a la carpeta de salida de tu proyecto
  artifacts:
    paths:
      - public
  only:
    - master  # Cambia esto si tu rama principal se llama de otra manera


